@{
    ViewBag.Title = "from URL Link";
}

<div class="jumbotron">
    <h1>from URL Link</h1>
    <p class="lead">Extract iptv Accounts (xtream-codes type) from an URL Link</p>
</div>

<div class="row">
    <div class="col-xs-12">
        URL Link
    </div>
</div>
