
@{
    ViewBag.Title = "from File upload";
    ViewBag.m3uFile = true;
}

<div class="jumbotron">
    <h1>from local File</h1>
    <p class="lead">Extract xtream-codes type Accounts from an m3u local file</p>
</div>

<div class="row">
    <div class="col-xs-12">

@using (Html.BeginForm("Result", "m3uFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-movie-o fa-fw"></i> File to process <span class="label label-default">.m3u</span></h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input title="Choose you file to process" type="file" name="ficheiro" accept=".m3u" />
                <p class="help-block">.m3u file to upload and process</p>
            </div>


        </div>
    </div>

    <p>
        <button class="btn btn-success" id="btnSubmit"><i class="fa fa-cloud-upload"></i> Process file</button>
        <a href="@Url.Action("Index","Home")" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-ban-circle"></span> Cancel and go back</a>
    </p>



}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






    </div>
</div>
