@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>IPTV Accounts extractor</h1>
    <p class="lead">Extract iptv Accounts (xtream-codes type) from an m3u file or Url</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>From a local file</h2>
        <p>
            Here you can upload an m3u, m3u8 or m3u_plus text file and get the iptv xtream-codes Url to gel all the channels on that account.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","m3uFile")">from FILE  &raquo;</a></p>
    </div>
    <div class="col-sm-6">
        <h2>From a remote Url</h2>
        <p>
            Here you can paste an m3u, m3u8 or m3u_plus URL and get the iptv xtream-codes Url to gel all the channels on that account.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","m3uLink")">from URL link &raquo;</a></p>
    </div>
</div>